
{% extends 'catalog/base.html' %}

{% block content %}
    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        {% if product %}
                            <h3 class="card-title">Редактирование продукта</h3>
                        {% else %}
                            <h3 class="card-title">Добавление продукта</h3>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if product %}
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        {% else %}
                            <button type="submit" class="btn btn-success">Создать</button>
                        {% endif %}
                        <a class="btn btn-primary" href="{% url 'catalog:products_list' %}" role="button">Назад</a>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
